// body {
//     counter-reset: consola;
//     h2::before {
//         counter-increment: consola;
//         content: "Consola de videojuegos " counter(consola) ": ";
//     }
// }

.contenedor {
  counter-reset: consola;
  h1 {
    counter-reset: videojuegos;
  }
  h1::before {
    counter-increment: consola;
    content: "Consola " counter(consola) ". ";
  }
  h2::before {
    counter-increment: videojuegos;
    content: counter(consola) "." counter(videojuegos) " ";
  }
}

